<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Qdos. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
      <!--AddMenu-->
<add id="Qdos_QdosSync::qdos_syncevent_index" title="Synch Events" module="Qdos_Syncevent"  sortOrder="70" dependsOnModule="Qdos_QdosSync" parent="Qdos_QdosSync::catalogue" action="syncevent/syncevent/index" resource="Qdos_Syncevent::qdos_syncevent_index"/>
    </menu>
</config>
