<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Qdos_QdosSync::hello" title="Qdos Sync" module="Qdos_QdosSync" sortOrder="50" resource="Qdos_QdosSync::hello"/>
		<add id="Qdos_QdosSync::catalogue" resource="Qdos_QdosSync::catalogue" module="Qdos_QdosSync" title="Catalogue" sortOrder="10" parent="Qdos_QdosSync::hello"/>
		<add id="Qdos_QdosSync::qdos_synccategories_index" title="Synch Categories" module="Qdos_QdosSync"  sortOrder="10" dependsOnModule="Qdos_QdosSync" parent="Qdos_QdosSync::catalogue" action="qdossync/synccategories/index" resource="Qdos_QdosSync::qdos_synccategories_index"/>
		<add id="Qdos_QdosSync::qdos_syncattribute_index" title="Synch Attributes" module="Qdos_QdosSync"  sortOrder="20" dependsOnModule="Qdos_QdosSync" parent="Qdos_QdosSync::catalogue" action="qdossync/syncattribute/index" resource="Qdos_QdosSync::qdos_syncattribute_index"/>
		<add id="Qdos_QdosSync::qdos_syncgrid_index" title="Synch Products" module="Qdos_QdosSync"  sortOrder="30" dependsOnModule="Qdos_QdosSync" parent="Qdos_QdosSync::catalogue" action="qdossync/syncgrid/index" resource="Qdos_QdosSync::qdos_syncgrid_index"/>
		<add id="Qdos_QdosSync::qdos_syncproductmanual_index" title="Synch Products Manually" module="Qdos_QdosSync"  sortOrder="40" dependsOnModule="Qdos_QdosSync" parent="Qdos_QdosSync::catalogue" action="qdossync/syncproductmanual/index" resource="Qdos_QdosSync::qdos_syncproductmanual_index"/>
		<add id="Qdos_QdosSync::qdos_syncproducer_index" title="Synch Product Producer" module="Qdos_Syncproducer"  sortOrder="50" dependsOnModule="Qdos_QdosSync" parent="Qdos_QdosSync::catalogue" action="syncproducer/syncproducer/index" resource="Qdos_Syncproducer::qdos_syncproducer_index"/>
		<add id="Qdos_QdosSync::qdos_syncgrape_index" title="Synch Product Grape" module="Qdos_Syncproducer"  sortOrder="60" dependsOnModule="Qdos_QdosSync" parent="Qdos_QdosSync::catalogue" action="winery/syncgrape/index" resource="Qdos_Syncproducer::qdos_syncgrape_index"/>
		<add id="Qdos_QdosSync::qdos_syncevent_index" title="Synch Events" module="Qdos_Syncevent"  sortOrder="70" dependsOnModule="Qdos_QdosSync" parent="Qdos_QdosSync::catalogue" action="syncevent/syncevent/index" resource="Qdos_Syncevent::qdos_syncevent_index"/>

		<add id="Qdos_QdosSync::qdos_sync_order_multi" title="Synch Order" module="Qdos_QdosSync"  sortOrder="40" dependsOnModule="Qdos_QdosSync" parent="Neo_Mappaymentorder::order" action="ordersync/syncorder/index" resource="Qdos_QdosSync::qdos_syncgrid_index"/>

		<add id="Qdos_QdosSync::general_configuration" resource="Qdos_QdosSync::general_configuration" module="Qdos_QdosSync" title="General Configuration" sortOrder="30" parent="Qdos_QdosSync::hello"/>
		<add id="Qdos_QdosSync::hello_manage_items" title="Cron Schedule Settings" module="Qdos_QdosSync" sortOrder="10" parent="Qdos_QdosSync::general_configuration" action="adminhtml/system_config/edit/section/qdosSync" resource="Qdos_QdosSync::hello_manage_items"/>
	  	<add id="Qdos_QdosSync::hello_configuration" title="Configuration" module="Qdos_QdosSync" sortOrder="20" parent="Qdos_QdosSync::general_configuration" action="adminhtml/system_config/edit/section/qdosConfig" resource="Qdos_QdosSync::hello_configuration"/>
	  	<add id="Qdos_QdosSync::qdos_viewsynchlog_index" title="View Synch Log" module="Qdos_QdosSync"  sortOrder="30" dependsOnModule="Qdos_QdosSync" parent="Qdos_QdosSync::general_configuration" action="qdossync/syncgrid/index" resource="Qdos_QdosSync::qdos_viewsynchlog_index"/>
	  	<add id="Qdos_QdosSync::qdos_storemapping_index" title="Link Website Store and Qdos Synch" module="Qdos_QdosSync"  sortOrder="40" dependsOnModule="Qdos_QdosSync" parent="Qdos_QdosSync::general_configuration" action="qdossync/storemapping/index" resource="Qdos_QdosSync::qdos_storemapping_index"/>
	</menu>
</config>
