<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Neo_Mappaymentorder::qdos_synccustomer_index" title="Synch Customer" module="Neo_Mappaymentorder" sortOrder="30" resource="Neo_Mappaymentorder::qdos_synccustomer_index" parent="Neo_Mappaymentorder::order" action="customersync/synccustomer/index"/>
	</menu>
</config>